---
import Header from "../components/header.astro"
import Footer from "../components/footer.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="public/logos/favicon.jpg" type="image/x-icon">
    <title>Patagonia Group - Contacto</title>
</head>
<body>

    <Header/>
    <div class="container">


    <h1>¡Cualquier consulta que tengas no dudes en contactarnos!</h1>

        <div class="tarjetas">
            <a href="https://www.qrcodechimp.com/page/sfngylgv69p2?v=chk1719413882" target="_blank"><img src="public/contacto/tarjeta-yanina.jpg" alt="Tarjeta de contacto"></a>
            <a href="https://www.qrcodechimp.com/page/sfndmlvj452z?v=chk1719349892" target="_blank"><img src="public/contacto/tarjeta-daniel.jpg" alt="Tarjeta de contacto"></a>
            <a href="https://www.qrcodechimp.com/page/sfnfxzy529cb?v=chk1719413794" target="_blank"><img src="public/contacto/tarjeta-fabian.jpg" alt="Tarjeta de contacto"></a>
            <img src="public/contacto/tarjeta-victor.jpg" alt="Tarjeta de contacto">
            <img src="public/contacto/tarjeta-eze.jpg" alt="Tarjeta de contacto">
            <img src="public/contacto/tarjeta-ricardo.jpg" alt="Tarjeta de contacto">
        </div>







    </div>
    <Footer/>


    <style>
        h1{
            text-align: center;
            margin: 4rem 0;
        }

        .tarjetas{
            display: flex;
            flex-wrap: wrap;
            gap: 5rem;
            text-align: center;
            justify-content: center;
            padding: 3rem;
            object-fit: contain;
        }

        .tarjetas img{
            width: 25rem;
            padding: 1rem;
        }
    </style>
</body>
</html>