
    <header>
        <div class="titulo">
            <h1>Patagonia Group</h1>
        </div>
        <div class="logo">
            <a href="/">
                <img id="compu" src="/logos/logo.png" alt="Logo Desktop">
                <img id="celu" src="/logos/logo-celu.png" alt="Logo Mobile">
            </a>
        </div>
        <div class="menu-icon" id="menu-icon">
            <div class="menu-icon__line"></div>
        </div>
        <div class="nav" id="nav">
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/about">Quienes Somos</a></li>
                    <li><a href="/servicios">Qué Hacemos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: rgb(255, 255, 255);
    }

    .titulo h1 {
        color: rgb(10, 9, 85);
    }

    .logo img {
        height: 4.5rem;
        width: auto;
    }

    .logo #compu{
        padding: 0 0 0 7rem;
    }

    .logo #celu {
        display: none;
    }

    ul li {
        list-style: none;
        display: inline;
        margin: 10px;
        font-size: 20px;
    }

    ul li a {
        color: rgb(10, 9, 85);
        text-decoration: none;
    }

    .menu-icon {
        display: none;
        cursor: pointer;
        width: 30px;
        height: 25px;
        position: relative;
    }

    .menu-icon__line {
        width: 100%;
        height: 3px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 0.3s ease;
    }

    .menu-icon__line::before,
    .menu-icon__line::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        transition: all 0.3s ease;
    }

    .menu-icon__line::before {
        top: -10px;
    }

    .menu-icon__line::after {
        top: 10px;
    }

    .menu-icon.open .menu-icon__line {
        background-color: transparent;
    }

    .menu-icon.open .menu-icon__line::before {
        transform: rotate(45deg);
        top: 0;
    }

    .menu-icon.open .menu-icon__line::after {
        transform: rotate(-45deg);
        top: 0;
    }

    .nav {
        display: flex;
    }

    @media (max-width: 1077px) {
        .logo #compu {
            display: none;
        }

        .logo #celu{
            display: flex;
            margin: 0 .5rem;
        }

        .titulo{
            display: none;
        }

        .menu-icon {
            display: block;
            margin: 0 2rem ;
        }

        .nav {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 100px;
            right: 0;
            background-color: white;
            width: 100%;
            height: auto;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
        }
        
        .nav.active {
            display: flex;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        ul li {
            display: block;
            padding: 25px;
            text-align: center;
        }
    }

    </style>
    
    <script>
        const menuIcon = document.getElementById('menu-icon');
        const nav = document.getElementById('nav');

        menuIcon.addEventListener('click', () => {
            nav.classList.toggle('active');
            menuIcon.classList.toggle('open');
        });
    </script>
    
